<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="docking_station">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0662482989445942 -2.1538326677728E-14 0.316247385092928"
        rpy="0 0 0" />
      <mass
        value="42.0427517120607" />
      <inertia
        ixx="1.16820349201206"
        ixy="1.60891011987078E-14"
        ixz="-9.97046817820056E-15"
        iyy="1.38638221782354"
        iyz="-1.95937203163287E-15"
        izz="1.23918268038501" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="aruco_link_1">
    <inertial>
      <origin
        xyz="-0.0249999999999956 0.00450876489028063 0.0250000000000178"
        rpy="0 0 0" />
      <mass
        value="0.0224018252295753" />
      <inertia
        ixx="4.8386226510856E-06"
        ixy="-1.02520572049127E-20"
        ixz="-2.08851713726378E-21"
        iyy="9.37469320384243E-06"
        iyz="-7.06176572731722E-20"
        izz="4.83862265108562E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_joint_1"
    type="fixed">
    <origin
      xyz="0.27 -0.2505 0.45"
      rpy="1.5708 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="aruco_link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aruco_child_link_1">
    <inertial>
      <origin
        xyz="−0.069 0.00450876489028063 0.0250000000000178"
        rpy="0 0 0" />
      <mass
        value="0.00197270562183948" />
      <inertia
        ixx="4.704387715955E-07"
        ixy="6.97071784979191E-21"
        ixz="-1.63089057186932E-08"
        iyy="9.16307642939266E-07"
        iyz="1.28429976701927E-21"
        izz="4.46197655614073E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_child_joint_1"
    type="fixed">
    <origin
      xyz="-0.025 0 0.025"
      rpy="0 -1.5708 0" />
    <parent
      link="aruco_link_1" />
    <child
      link="aruco_child_link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aruco_link_2">
    <inertial>
      <origin
        xyz="-0.0250000000000042 0.00450876489026827 -0.0249999999999847"
        rpy="0 0 0" />
      <mass
        value="0.0224018252295753" />
      <inertia
        ixx="4.83862265108561E-06"
        ixy="-1.0107356355921E-20"
        ixz="3.32562002140032E-22"
        iyy="9.37469320384244E-06"
        iyz="7.05471563513824E-20"
        izz="4.83862265108562E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_joint_2"
    type="fixed">
    <origin
      xyz="0.27 0.2505 0.45"
      rpy="1.5708 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="aruco_link_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aruco_child_link_2">
    <inertial>
      <origin
        xyz="-0.000278731373129198 -0.00950000000004067 1.62549688293989E-05"
        rpy="0 0 0" />
      <mass
        value="0.00197270562183948" />
      <inertia
        ixx="4.70438771595498E-07"
        ixy="-5.86722248136008E-21"
        ixz="-1.63089057186943E-08"
        iyy="9.16307642939267E-07"
        iyz="3.0016255749312E-20"
        izz="4.46197655614075E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_child_joint_1"
    type="fixed">
    <origin
      xyz="-0.025 0.019 -0.025"
      rpy="0 1.5708 0" />
    <parent
      link="aruco_link_2" />
    <child
      link="aruco_child_link_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aruco_link_3">
    <inertial>
      <origin
        xyz="0.0250000000000017 0.00450876489026816 -0.024999999999987"
        rpy="0 0 0" />
      <mass
        value="0.0224018252295754" />
      <inertia
        ixx="4.83862265108561E-06"
        ixy="2.35103530730933E-21"
        ixz="4.18902260497304E-22"
        iyy="9.37469320384244E-06"
        iyz="2.01390055538253E-20"
        izz="4.83862265108562E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_joint_3"
    type="fixed">
    <origin
      xyz="0.27 -0.2505 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="aruco_link_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aruco_child_link_3">
    <inertial>
      <origin
        xyz="-0.000278731442023394 0.00949999999798451 -1.62549651961663E-05"
        rpy="0 0 0" />
      <mass
        value="0.00197270562183948" />
      <inertia
        ixx="4.70438772020475E-07"
        ixy="-3.22414238087603E-15"
        ixz="1.63089054028558E-08"
        iyy="9.16307642939263E-07"
        iyz="1.17934969875605E-16"
        izz="4.46197655189094E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_child_joint_3"
    type="fixed">
    <origin
      xyz="0.025 0.019 -0.025"
      rpy="-0.50668 1.5708 2.6349" />
    <parent
      link="aruco_link_3" />
    <child
      link="aruco_child_link_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="aruco_link_4">
    <inertial>
      <origin
        xyz="0.0249999999999951 0.00450876489026805 0.024999999999988"
        rpy="0 0 0" />
      <mass
        value="0.0224018252295753" />
      <inertia
        ixx="4.83862265108561E-06"
        ixy="2.51385604817362E-21"
        ixz="6.45873989664963E-22"
        iyy="9.37469320384243E-06"
        iyz="4.98499813389311E-21"
        izz="4.83862265108561E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_joint_4"
    type="fixed">
    <origin
      xyz="0.27 0.2505 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="aruco_link_4" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="aruco_child_link_4">
    <inertial>
      <origin
        xyz="-0.000278731373129504 0.00949999999995935 -1.62549688255686E-05"
        rpy="0 0 0" />
      <mass
        value="0.00197270562183948" />
      <inertia
        ixx="4.70438771595497E-07"
        ixy="-6.93003442068363E-21"
        ixz="1.63089057186943E-08"
        iyy="9.16307642939266E-07"
        iyz="-1.96281171903858E-23"
        izz="4.46197655614075E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://docking_station/meshes/aruco_child_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="aruco_child_joint_4"
    type="fixed">
    <origin
      xyz="0.025 0 0.025"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="aruco_link_4" />
    <child
      link="aruco_child_link_4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>